# Environment
.env
.env.*

# macOS
.DS_Store

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
logs/
*.log

# IntelliJ / IDEA
*.iml
.idea/
out/

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# Temporary files
*.swp
*.swo
*.tmp

# Coverage/test
coverage/
.jacoco/

# Spring Boot
*.pid

